<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- datasource connection properties -->
		<property name="connection.datasource">java:/wandux</property>
		<!-- dialect for MySQL -->
		<property name="dialect">
			net.sf.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.use_outer_join">true</property>
		<property name="hibernate.transaction.factory_class">
			net.sf.hibernate.transaction.JTATransactionFactory
		</property>
		<property name="hibernate.manager_lookup_class">
			net.sf.hibernate.transaction.JBossTransactionManagerLookup
		</property>
		<property name="hibernate.transaction.manager_lookup_class">
			net.sf.hibernate.transaction.JBossTransactionManagerLookup
		</property>
		<property name="jta.UserTransaction">UserTransaction</property>
		<property name="c3p0.acquire_increment">1</property> 
		<property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
		<property name="c3p0.max_size">100</property> 
		<property name="c3p0.max_statements">0</property> 
		<property name="c3p0.min_size">10</property> 
		<property name="c3p0.timeout">100</property>

		<mapping resource="pfe/migration/server/ejb/bdd/GlobalConf.hbm" />
		<mapping resource="pfe/migration/server/ejb/bdd/NetworkConfig.hbm" />
		<mapping resource="pfe/migration/server/ejb/bdd/UsersData.hbm" />
		<mapping resource="pfe/migration/server/ejb/bdd/ParamIe.hbm" />
		<mapping resource="pfe/migration/server/ejb/bdd/LangInfo.hbm" />

	</session-factory>
</hibernate-configuration>
