body {
font-family: arial, helvetica;
color: #000000;
}

.welcome {
font-family: arial, helvetica;
color: #FF2200;
}

.succes {
font-family: arial, helvetica;
color: #3FAD26;
}

.alert {
font-family: arial, helvetica;
color: #FF0000;
}
